{% extends "layout.html" %} {% block content %}
<main class="container">
    <header>
        <hgroup>
            <h1>{{ title }}</h1>
            <p>
                {% if date %}
                <span class="date">{{ date | date(format="%B %d, %Y") }}</span>
                {% endif %} {% if author %}
                <span class="author">by {{ author }}</span>
                {% endif %}
            </p>
        </hgroup>
    </header>

    <main>{{ body | safe }}</main>
</article>
{% endblock content %}
